API_PORT=4000

DATABASE_URL="your_database_url"

WEB_ORIGIN=http://localhost:3000
API_ALLOWED_ORIGINS=http://localhost:3000
API_TRUST_PROXY=false

AWS_REGION="your_aws_region"
AWS_BUCKET_NAME="your_aws_bucket_name"
AWS_ACCESS_KEY_ID="your_aws_access_key_id"
AWS_SECRET_ACCESS_KEY="your_aws_secret_access_key"
